
@font-face {
    font-family: pokefont;
    src: url(/font/pokemon/Pokemon_Solid.ttf);
}

.brand-logo{
 font-family: pokefont;
 text-shadow: -2px 0 #3960aa, 0 2px #3960aa, 2px 0 #3960aa, 0 -2px #3960aa;
}

.container{
	position:relative;
	top: 10px;
	
}

.profile-image {
    position: relative;
    display: inline-block; /* added */
    overflow: hidden; /* added */
}

.profile-image img {width:100%;} /* remove if using in grid system */

.profile-image img:hover {
    opacity: 0.5
}
.profile-image:hover a {
    opacity: 1; /* added */
    top: 0; /* added */
    z-index: 500;
}
/* added */
.profile-image:hover a span {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
/* added */
.profile-image a {
    display: block;
    position: absolute;
    top: -100%;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
}