<html>
<head>
<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="css/404.css">
<link rel="icon" href="/img/pokeball.png" type="favicon.ico" />
</head>
<body>

 <nav>
    <div class="nav-wrapper yellow accent-2">
      <a href="#" class="brand-logo">Pokechu.io</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/profile">Profile</a></li>
        <li><a id="btn-logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  

   
     <div class="container">
     <div class="row">
        <!-- Page Content goes here -->
        <div class="col l8">
        <!-- Promo Content 1 goes here -->
        <img class="responsive-img" src="/img/background-404.jpg" >
      </div>
      <div class="col l4">
        <!-- Promo Content 1 goes here -->
        <h1><span>404</span></h1><h1>That's an error</h1>
      </div>
      
      </div>

      <div class="row">
      <div class="col l11 md8 s12 center-align">
      <button class="btn waves-effect waves-light valign">
     	Go back!
  	 </button>
  	
  	 
  	 </div>

  	 <div class="col l1 md4 s4 center-align" >
  	 <img class="responsive-img " src="/img/pikachu_animated -2.gif" >
  	 
  	 </div>
 	 </div>

  	
      </div>


   
     
    

<script src="/js/libs/jquery.min.js"></script>
<script src="/js/views/logout.js"></script>


 </body>
</head>
</html>