
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="css/chat.css">

</head>
<body>

 <nav>
          <div class="nav-wrapper yellow accent-2">
            <a href="#!" class="brand-logo">POKECHU.IO</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/profile">Profile</a></li>
              <li><a href="/play">Play</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="/profile">Profile</a></li>
              <li><a href="/play">Play</a></li>
              <li><a href="/logout">Logout</a></li>

            </ul>
          </div>
        </nav>
  

  
     
    

<script src="/js/libs/jquery.min.js"></script>
<script src="/js/libs/socket.io-1.4.5.js"></script>
<script src="/js/views/logout.js"></script>
<script src="/js/views/chat-g.js"></script>

 </body>
</head>
</html>