<html>
<head>
<link rel="stylesheet" type="text/css" href="css/materialize.min.css">


</head>
<body>

 		<nav>
          <div class="nav-wrapper yellow accent-2">
            <a href="#!" class="brand-logo">POKECHU.IO</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/profile">Profile</a></li>
              <li><a href="/play">Play</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="/profile">Profile</a></li>
              <li><a href="/play">Play</a></li>
              <li><a href="/logout">Logout</a></li>

            </ul>
          </div>
        </nav>
  

     
    

<script src="/js/libs/jquery.min.js"></script>
<script src="/js/views/logout.js"></script>


 </body>
</head>
</html>
