			<html>
			<head>
			<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
			<link rel="stylesheet" type="text/css" href="css/semantic.min.css">
			</head>
			<body>

			<nav>
			    <div class="nav-wrapper yellow accent-2">
			      <a href="#!" class="brand-logo">POKECHU.IO</a>
			      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			      <ul class="right hide-on-med-and-down">
			        <li><a href="/profile">Profile</a></li>
			        <li><a href="/play">Play</a></li>
			        <li><a href="/logout">Logout</a></li>
			      </ul>
			      <ul class="side-nav" id="mobile-demo">
			        <li><a href="/profile">Profile</a></li>
			        <li><a href="/play">Play</a></li>
			        <li><a href="/logout">Logout</a></li>

			      </ul>
			    </div>
			  </nav>

			<div class="container">
			


		<ul>
		<% for(var i=0; i<result.photo.length; i++) {%>
   		
   		<li>
   		<img class="ui medium bordered image" src="https://farm<%= result.photo[i].farm %>.staticflickr.com/<%= result.photo[i].server %>/<%= result.photo[i].id %>_<%= result.photo[i].secret %>.jpg">
   		</li>
		<% } %>
		</ul>
		</div>
		</body>
		</html>

